<footer class="bg-gray-900 text-white py-6">
  <div
    class="max-w-screen-xl mx-auto flex flex-col md:flex-row md:gap-x-12 justify-center px-4"
  >
    <div class="mb-4 md:mb-0">
      <h3 class="text-base font-semibold mb-3">Resources</h3>
      <ul class="space-y-1.5">
        <li>
          <a
            [routerLink]="'/download'"
            class="hover:underline text-gray-300 text-sm"
            >Download</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm">Oreon 10</a>
        </li>
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm"
            >Oreon lime R2</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm"
            >Oreon 10 support timeline</a
          >
        </li>
      </ul>
    </div>

    <div class="mb-4 md:mb-0">
      <h3 class="text-base font-semibold mb-3">Community</h3>
      <ul class="space-y-1.5">
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm">Forums</a>
        </li>
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm">Our team</a>
        </li>
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm">GitHub</a>
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-base font-semibold mb-3">Legal</h3>
      <ul class="space-y-1.5">
        <li>
          <a href="#" class="hover:underline text-gray-300 text-sm"
            >Privacy policy</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
