<nav
  class="w-full h-[7vh] border-b border-[#626161] bg-white flex items-center px-6 text-[#202020] justify-between sticky top-0"
>
  <a [routerLink]="''" class="h-full flex items-center">
    <img
      src="/oreonproject.avif"
      alt="logo"
      class="h-1/2 w-auto object-contain"
    />
  </a>

  <div class="flex">
    <a [routerLink]="'/download'">
      <button
        class="mx-3 px-4 py-2 rounded hover:bg-gray-200 transition cursor-pointer underline"
      >
        Download
      </button>
    </a>
    <a [routerLink]="'help'">
      <button
        class="mx-3 px-4 py-2 rounded hover:bg-gray-200 transition cursor-pointer underline"
      >
        Help & Support
      </button>
    </a>

    <button
      class="mx-3 px-4 py-2 rounded hover:bg-gray-200 transition cursor-pointer underline"
    >
      Oreon 10
    </button>
    <button
      class="mx-3 px-4 py-2 rounded hover:bg-gray-200 transition cursor-pointer underline"
    >
      Our Team
    </button>
  </div>

  <button class="bg-[#202020] text-white p-3 rounded-2xl cursor-pointer">
    Forums
  </button>
</nav>
