@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";


.text-gradient {
  background: linear-gradient(90deg, rgba(129, 201, 22, 1) 0%, rgba(0, 7, 37, 1) 50%, rgba(129, 201, 22, 1) 100%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 10s linear infinite;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

